<div class="mt-5">
  <h4 class="d-flex justify-content-center">Add Product</h4>
  <div class="submit-form">
    <!--Add Product Form -->
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" id="productName" matInput required formControlName="productName"
            name="productName" />
          <span class="message" *ngIf="productName?.invalid && productName?.touched">
            This field is required.
          </span>
        </div>
        <div class="form-group">
          <label for="productDescription">Product Description</label>
          <input class="form-control" id="productDescription" required matInput formControlName="productDescription"
            name="productDescription" />
          <span class="message" *ngIf="productDescription?.invalid && productDescription?.touched">
            This field is required.
          </span>
        </div>
        <div class="form-group">
          <label for="productPrice">Product Price</label>
          <input class="form-control" type="number" id="productPrice" required matInput name="productPrice"
            formControlName="productPrice" />
          <span class="message" *ngIf="productPrice?.invalid && productPrice?.touched">
            This field is required.
          </span>
        </div>
        <div class="form-group">
          <label for="productQuantity">Product Quantity</label>
          <input class="form-control" type="number" id="productQuantity" required matInput
            formControlName="productQuantity" name="productQuantity" />
          <span class="message" *ngIf="productQuantity?.invalid && productQuantity?.touched">
            This field is required.
          </span>
        </div>
        <mat-form-field class="example-full-width w-100 bg-light">
          <mat-label>Product Category</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto"
            formControlName="categoryId" [formControl]="categoryControl" name="categoryId">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let category of filteredCategories | async"
              [value]="category.id">{{category.categoryName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span class="message" *ngIf="categoryId?.invalid && categoryId?.touched">
          categoryName is required.
        </span>
        <button type="submit" [disabled]="productForm.invalid" class="btn btn-success">Submit</button>
      </div>
    </form>
    <!-- Product added successfully -->
    <div *ngIf="submitted">
      <h4>Product submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProduct()">Add</button>
    </div>
  </div>
</div>